.icon {
  width: $icon-size;
  height: $icon-size;
}

.icon_small {
  width: $icon-size-small;
  height: $icon-size-small;
}

.icon_control {
  cursor: pointer;
  user-select: none;
  color: $cc-control;
  &:hover {
    color: $cc-controlHover;
  }
}
