.idol__groups-other::before {
  content: " (";
}
.idol__groups-other::after {
  content: ")";
}

.idol__group_other ~ .idol__group_other::before {
  content: ", ";
}

.idol__group_inactive {
  text-decoration: line-through;
  &:hover {
    text-decoration-color: var(--link-hover);
  }
}
