@layer base {
  :root {
    /* TODO(Kagami): remove and use only tailwind config? */
    --body: #333;
    --body-bg: hsl(275, 10%, 94%);
    --link: hsl(275, 25%, 40%);
    --link-hover: hsl(275, 15%, 60%);
    --control: var(--link);
    --control-hover: var(--link-hover);
    --kngray-1: #ccc;

    /* TODO(Kagami): use px instead? */
    --icon-size: 1.5rem;
    --icon-size-small: 1rem;
    --content-margin-top: 2rem;
    --content-margin-next: 3rem;
    --content-margin-last: 6rem;

    --border: 1px solid var(--kngray-1);
  }
}

@layer base {
  html,
  body {
    height: 100%;
  }

  html {
    overflow-y: scroll;
  }

  body {
    color: var(--body);
    background: var(--body-bg);
    font-family: Helvetica, sans-serif;
    line-height: 1.4;
  }

  #index {
    display: contents;
  }
}
