@tailwind base;
@tailwind components;
@tailwind utilities;

/* resolution-dependent spacing */
@layer base {
  :root {
    --cnt-top: 15px;
    --cnt-next: 25px;
    --cnt-last: 50px;
  }
  @media screen(sm) {
    :root {
      --cnt-top: 30px;
      --cnt-next: 50px;
      --cnt-last: 100px;
    }
  }
}

@layer base {
  html,
  body {
    @apply h-full;
  }
  html {
    @apply overflow-y-scroll;
  }
  body {
    @apply text-body bg-body-bg font-sans leading-normal;
  }
  #index {
    @apply contents;
  }
}

@layer base {
  .link {
    @apply text-link no-underline hover:cursor-pointer hover:text-link-hover;
  }

  .err {
    @apply text-[30px] text-[#999];
  }
  .err-sm {
    @apply text-[25px];
  }

  .icon,
  .icon_small,
  .mobile_icon_large,
  .icon_control {
    @apply w-icon h-icon select-none;
  }
  .icon_small {
    @apply w-icon-sm h-icon-sm;
  }
  .mobile_icon_large {
    @apply max-sm:w-icon-lg max-sm:h-icon-lg;
  }
  .icon_control {
    @apply cursor-pointer text-control hover:text-control-hover;
  }
}
