//////////////////////////////
// LIGHT THEME
// https://github.com/cutechan/cutechan/blob/master/less/light.less
//////////////////////////////

// Fonts, sizes.
$cc-fontSize: 14px;
$cc-headerFontSize: 14px;
$cc-searchFontSize: 15px;
$cc-posttimeFontSize: 11px;
$cc-lineHeight: 1.4;
$cc-headerHeight: 30px;
$cc-scrollbarWidth: 8px;

// Backgrounds.
$cc-bodyBG: hsl(275, 10%, 94%);
$cc-postBG: hsl(275, 9%, 90%);
$cc-headerBG: rgba(239, 238, 241, 0.9);
$cc-headerBGHover: #d8d6e0;
$cc-buttonBG: transparent;
$cc-modalBG: hsl(275, 12%, 94%);
$cc-replyBG: hsl(275, 9%, 90%);
$cc-replyfloatBG: hsl(275, 9%, 90%);
$cc-replyinfoBG: hsla(0, 0%, 100%, 0.8);
$cc-modalInput: #fff;
$cc-scrollbarBG: hsl(275, 15%, 40%);

// Colors.
$cc-body: #0a0a0a;
$cc-link: hsl(275, 25%, 40%);
$cc-linkHover: hsl(275, 15%, 60%);
$cc-spoilerlink: hsl(275, 25%, 40%);
$cc-messagelink: hsl(275, 32%, 45%);
$cc-admin: #d60000;
$cc-mod: #7800b3;
$cc-postop: #101010;
$cc-postlink: $cc-link;
$cc-postid: hsl(275, 10%, 40%);
$cc-postidop: $cc-postid;
$cc-postcounter: #80796a;
$cc-posttime: #59554b;
$cc-posttimeop: #86847f;
$cc-postsubject: hsl(275, 15%, 38%);
$cc-postinfo: #5f5f5f;
$cc-postboard: #6e72b8;
$cc-postboardHover: #54578c;
$cc-postcatalogcounter: #6e72b8;
$cc-postfilebadge: #e1dde1;
$cc-postbacklinkpre: $cc-postinfo;
$cc-quote: #00882d;
$cc-spoiler: #d0c9d4;
$cc-modal: #000000;
$cc-modallinkHover: #999;
$cc-pagetitle: hsl(275, 15%, 38%);
$cc-headeritem: hsl(275, 25%, 35%);
$cc-tabsel: #999;
$cc-omit: #8a8a8a;
$cc-control: $cc-link;
$cc-controlHover: $cc-linkHover;
$cc-button: hsl(275, 25%, 40%);
$cc-buttonHover: hsl(275, 20%, 40%);
$cc-replyinfo: #4d4d4d;
$cc-replysendHover: $cc-buttonHover;
$cc-searchinput: inherit;
$cc-searchplaceholder: #757575;
$cc-pagecurrent: inherit;
$cc-replyboard: $cc-link;
$cc-accountformshead: #333;

// Bootstrap styles
$body-bg: $cc-bodyBG;
$body-tertiary-bg: $body-bg;
$border-radius: 0;
$dropdown-link-color: $cc-link;
$dropdown-link-hover-color: $cc-linkHover;
$dropdown-min-width: 100px;
