.main {
  display: flex;
  flex-direction: column;
  // FIXME(Kagami): mobile screen
  width: 800px;
  min-height: 100%;
  margin: 0 auto;

  padding-top: $content-margin-top;
  padding-bottom: $content-margin-last;
}

.main_error {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #999;
}

.main__error-info {
  font-size: 25px;
}
