.main {
  display: flex;
  flex-direction: column;
  // FIXME(Kagami): mobile screen
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

.main__error {
  margin: auto;
  text-align: center;
  font-size: 30px;
  color: #999;
}

.main__error-info {
  font-size: 25px;
}
