html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  color: var(--body);
  background: var(--cc-bodyBG);
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

#index {
  display: contents;
}
