@import "./cc-light.css";

:root {
  --body: #333;
  --border: 1px solid #ccc;

  --icon-size: 24px;
  --icon-size-small: 16px;

  --content-margin-top: 30px;
  --content-margin-next: 50px;
  --content-margin-last: 100px;
}

.link {
  color: var(--cc-link);
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: var(--cc-linkHover);
  }
}
