@import "./cc-light";

@mixin link {
  color: $cc-link;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: $cc-linkHover;
  }
}

$body: #333;
$border: 1px solid #ccc;

$icon-size: 24px;
$icon-size-small: 16px;

$content-margin: 30px;
