.navbar {
  /* FIXME(Kagami): fix for small screens */
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 10px 10px 0 0; /* should be hoverable to avoid mouseleave */
  display: flex;
  justify-content: right;
  align-items: flex-start;
  /* for catching mouseleave */
  min-width: 100px;
  min-height: 100px;
}

.navbar__item {
  margin-left: 10px;
  position: relative;
}

.navinfo {
  border: var(--border);
  background: var(--cc-bodyBG);
  position: absolute;
  top: calc(var(--icon-size) + 10px + 5px);
  right: 10px;
  min-width: 450px;
  display: flex;
  align-items: center;
}

.navinfo__p {
  margin: 0;
}

.navinfo__logo {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.navinfo__icon {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
  vertical-align: middle;
}
